/* line 2, ../sass/style.scss */
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  min-width: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 15, ../sass/style.scss */
h5 {
  margin: 10px 0;
}

/* line 19, ../sass/style.scss */
.section {
  max-width: 600px;
  min-height: 100px;
  background-color: #E9E9E9;
  margin: 20px auto;
  padding: 10px 20px;
}

/* line 29, ../sass/style.scss */
.section.summary .info-block {
  display: inline-block;
  margin: 10px;
}
/* line 34, ../sass/style.scss */
.section.summary .progress-bar {
  height: 20px;
  width: 90%;
  margin: 10px auto;
  border: 1px solid black;
  background-color: #BBBBBB;
}
/* line 41, ../sass/style.scss */
.section.summary .progress-bar .progress-completed {
  height: 100%;
  width: 50%;
  background-color: #777777;
}

/* line 49, ../sass/style.scss */
.section.list {
  min-height: 200px;
}
/* line 52, ../sass/style.scss */
.section.list .list-container {
  width: 90%;
  margin: 10px auto;
}
/* line 56, ../sass/style.scss */
.section.list .list-container .item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  cursor: pointer;
}
/* line 64, ../sass/style.scss */
.section.list .list-container .item.selected {
  background-color: #777777;
}
/* line 68, ../sass/style.scss */
.section.list .list-container#list_done {
  text-decoration: line-through;
}
/* line 72, ../sass/style.scss */
.section.list textarea {
  width: 90%;
  height: 60px;
  max-height: 200px;
  resize: vertical;
}

/* line 80, ../sass/style.scss */
.button {
  display: inline-block;
  padding: 15px 0;
  margin: 20px;
  width: 100px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #BBBBBB;
  cursor: pointer;
}

/* line 90, ../sass/style.scss */
.button:hover {
  background-color: #999999;
}

/* line 93, ../sass/style.scss */
.button:active {
  background-color: #777777;
}
