/* line 2, ../sass/style.scss */
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  min-width: 300px;
}

/* line 11, ../sass/style.scss */
.section {
  max-width: 600px;
  min-height: 100px;
  background-color: #DDDDDD;
  margin: 20px auto;
  padding: 10px 20px;
}

/* line 19, ../sass/style.scss */
.section.list {
  min-height: 200px;
}
/* line 22, ../sass/style.scss */
.section.list .list-container {
  width: 90%;
  margin: 10px auto;
}
/* line 26, ../sass/style.scss */
.section.list .list-container .item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  cursor: pointer;
}
/* line 34, ../sass/style.scss */
.section.list .list-container .item.selected {
  background-color: #777777;
}
/* line 39, ../sass/style.scss */
.section.list textarea {
  width: 90%;
  height: 60px;
  max-height: 200px;
  resize: vertical;
}

/* line 47, ../sass/style.scss */
.button {
  display: inline-block;
  padding: 15px 0;
  margin: 20px;
  width: 100px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #BBBBBB;
  cursor: pointer;
}

/* line 57, ../sass/style.scss */
.button:hover {
  background-color: #999999;
}

/* line 60, ../sass/style.scss */
.button:active {
  background-color: #777777;
}
